{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>

 var user_busy_days      = ['2018-12-09','2018-12-16','2018-12-19'];
 var date_list=[];
{%for sch in schedule%}
	var date='{{sch.year}}-{{sch.month}}-{{sch.day}}';
	date_list.push(date);
{%endfor%}

	$(function () {
        $('#datetimepicker3').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            multidate: "True",
            daysOfWeekHighlighted: "5,6",
            todayHighlight: true,
            toggleActive: true,
            orientation: "bottom auto",
            datesDisabled: date_list,
        });

         $('#datetimepicker3').datepicker('setDates',date_list )

    });


</script>


<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <br>
               <h3>Profile</h3>
            <div class="profile-sidebar" style="border:1px solid rgba(0,0,0,.125); height:500px">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    {%if users.freelancer.profile_picture%}
                    <img src="{{users.freelancer.profile_picture.url}}" class="img-responsive" alt="">
                    {%else%}
                    <img src="{% static 'img/profile.png' %}" class="img-responsive" alt="">
                    {%endif%}
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">

                    <div class="profile-usertitle-name">
                        {{users.first_name}} {{users.last_name}}
                    </div>
                    <div class="btn btn-outline-danger  disabled" style="margin-bottom:2px">RS :
                        {{users.freelancer.price}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{users.freelancer.rank}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Favorite</button>
                    <button type="button" class="btn btn-success btn-sm">Say Hi..!</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <div class="stars">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
                {{users.freelancer.rate}}/5

                <!-- SIDEBAR MENU -->
                {%ifequal request.user.id users.pk%}
                <div class="profile-usermenu">
                    <ul class="nav-vertical">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Edit Profile </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-envelope"></i>
                                Messages </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Requests</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-cog"></i>
                                Settings </a>
                        </li>
                    </ul>
                </div>
                {%else%}
                <div class="caption card-body">
                    <p class="group inner list-group-item-text">
                        City : {{users.city.name}}<br>

                        {%for skill in users.freelancer.skill.all%}
                    <div class="btn btn-outline-info btn-sm disabled " style="margin-bottom:2px; padding: 1px 5px;
                                                                                          font-size: 12px;
                                                                                          line-height: 1.5;
                                                                                          border-radius: 3px;">
                        {{skill.category}} {{skill.name}}
                    </div>
                    {%endfor%}


                    </p>
                </div>
                {%endifequal%}
                <!-- END MENU -->


            </div>
        </div>
        <div class="container col-md-9">
            <div class="profile-content row">


                <div class="col-sm-5 col-md-5 col-lg-5">
                    <h3>Shedule</h3>
                    <div style="border:1px solid rgba(0,0,0,.125); height:500px">

                    <div class='input-group date' id='datetimepicker3' style="margin-left:40px">
                    </div> <div style="border:1px solid rgba(0,0,0,.125);margin-left:5px;margin-right:5px">
                            <p>Pick a date and click Book button or Add To Cart button to send a request to this user. The ash color dates are already booked by other clients. Yellow background
                                date is today and blue color background date is your selected date. </p>
                        </div>
                    <div class="profile-userbuttons">
                    <button type="button" class="btn btn-info btn-sm">Add To Cart</button>
                    <button type="button" class="btn btn-warning btn-sm">Book</button>
                </div>

                        </div>

                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h3>Gallery</h3>
                    <div class="container" style="border:1px solid rgba(0,0,0,.125); height:500px">
                        <div class="row" data-spy="scroll" style="height:490px;overflow-y: scroll;">

                            <div class="col-md-6 col-lg-6 col-sm-6 img_space " style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" http://www.bravotv.com/sites/nbcubravotv/files/styles/blog-post--computer/public/field_blog_image/2017/01/personal-space-who-knows-your-pregnant.jpg?itok=cAjmQ2JQ&timestamp=1485192128"
                                     data-toggle="modal" data-target="#myModal" height="150" width="150">
                                <!-- Modal -->

                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://imgix.bustle.com/rehost/2016/9/13/b96e9feb-a29e-4f4f-8610-cf7f286b4f41.jpg?w=970&h=582&fit=crop&crop=faces&auto=format&q=70"
                                     data-toggle="modal" data-target="#myModal1" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://avalon.edu/wp-content/uploads/2013/04/shutterstock_136244102-e1513018160800.jpg"
                                     data-toggle="modal" data-target="#myModal2" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space " style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://cdnx.ogleschool.edu/wp-content/uploads/2013/12/hairstylist-at-work.jpg"
                                     data-toggle="modal" data-target="#myModal3" height="150" width="150">
                                <!-- Modal -->

                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://www.rd.com/wp-content/uploads/2016/02/06-13-things-your-hairstylist-wont-tell-you-cut-and-color-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal4" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://www.rd.com/wp-content/uploads/2016/02/01-13-things-your-hairstylist-wont-tell-you-hard-to-work-with-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal5" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space " style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src="https://www.rd.com/wp-content/uploads/2016/02/10-13-things-your-hairstylist-wont-tell-you-mixing-color-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal6" height="150" width="150">
                                <!-- Modal -->

                            </div>

                             <div class="col-md-6 col-lg-6 col-sm-6 img_space " style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://cdnx.ogleschool.edu/wp-content/uploads/2013/12/hairstylist-at-work.jpg"
                                     data-toggle="modal" data-target="#myModal3" height="150" width="150">
                                <!-- Modal -->

                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://www.rd.com/wp-content/uploads/2016/02/06-13-things-your-hairstylist-wont-tell-you-cut-and-color-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal4" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space" style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src=" https://www.rd.com/wp-content/uploads/2016/02/01-13-things-your-hairstylist-wont-tell-you-hard-to-work-with-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal5" height="150" width="150">
                                <!-- Modal -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 img_space " style="padding-bottom:10px">
                                <!-- Trigger the modal with a button -->
                                <img class="img-responsive"
                                     src="https://www.rd.com/wp-content/uploads/2016/02/10-13-things-your-hairstylist-wont-tell-you-mixing-color-760x506.jpg"
                                     data-toggle="modal" data-target="#myModal6" height="150" width="150">
                                <!-- Modal -->

                            </div>



                        </div>


                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive"
                                     src="http://www.bravotv.com/sites/nbcubravotv/files/styles/blog-post--computer/public/field_blog_image/2017/01/personal-space-who-knows-your-pregnant.jpg?itok=cAjmQ2JQ&timestamp=1485192128">

                            </div>
                        </div>

                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://imgix.bustle.com/rehost/2016/9/13/b96e9feb-a29e-4f4f-8610-cf7f286b4f41.jpg?w=970&h=582&fit=crop&crop=faces&auto=format&q=70">
                            </div>
                        </div>

                        <div class="modal fade" id="myModal2" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://avalon.edu/wp-content/uploads/2013/04/shutterstock_136244102-e1513018160800.jpg">

                            </div>
                        </div>

                        <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://cdnx.ogleschool.edu/wp-content/uploads/2013/12/hairstylist-at-work.jpg">

                            </div>
                        </div>

                        <div class="modal fade" id="myModal4" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://www.rd.com/wp-content/uploads/2016/02/06-13-things-your-hairstylist-wont-tell-you-cut-and-color-760x506.jpg">

                            </div>
                        </div>

                        <div class="modal fade" id="myModal5" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://www.rd.com/wp-content/uploads/2016/02/01-13-things-your-hairstylist-wont-tell-you-hard-to-work-with-760x506.jpg">

                            </div>
                        </div>

                        <div class="modal fade" id="myModal6" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content--><a href="#" class="close" data-dismiss="modal"> </a>
                                <img class="img-responsive img-thumbnail"
                                     src="https://www.rd.com/wp-content/uploads/2016/02/10-13-things-your-hairstylist-wont-tell-you-mixing-color-760x506.jpg">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="comments" style="height:250px;overflow-y: scroll;border:1px solid rgba(0,0,0,.125);">
<h3>Clients Reviews</h3>
            <div class="comment-wrap">
                <div class="photo">
                    <div class="avatar"
                         style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                </div>
                <div class="comment-block">
                    <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus
                        iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus
                        architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi
                        sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</p>
                    <div class="bottom-comment">
                        <div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
                        <ul class="comment-actions">
                            <li class="complain">Complain</li>
                            <li class="reply">Reply</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="comment-wrap">
                <div class="photo">
                    <div class="avatar"
                         style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
                </div>
                <div class="comment-block">
                    <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus
                        iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus
                        architecto tempore, quaerat explicabo veniam fuga corporis totam.</p>
                    <div class="bottom-comment">
                        <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
                        <ul class="comment-actions">
                            <li class="complain">Complain</li>
                            <li class="reply">Reply</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</div>
</div>
</div>
</div>

{% endblock %}