<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HairHeir</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<!------ Include the above in your HEAD tag ---------->

<section class="search-banner bg-danger text-white py-5" id="search-banner">
    <div class="container py-5 my-5">
    <div class="row text-center pb-4">
        <div class="col-md-12">
            <h2>Find the New & Used Car in India</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select New/Used...</option>
                            <option>New</option>
                            <option>Used</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select Make...</option>
                            <option>BMW</option>
                            <option>Audi</option>
                            <option>Maruti</option>
                            <option>Tesla</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select Model...</option>
                            <option>City</option>
                            <option>Jazz</option>
                            <option>Brio</option>

                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select Location...</option>
                            <option>New Delhi</option>
                            <option>Banglore</option>
                            <option>Chennai</option>
                            <option>Jaipur</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select Budget...</option>
                            <option>1 Lac-5 Lac</option>
                            <option>5 Lac-10 Lac</option>
                            <option>10 Lac-15 Lac</option>
                            <option>15 Lac-20 Lac</option>
                            <option>20 Lac-25 Lac</option>
                            <option>25 Lac & Above</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-dark">Search Car</button>

                </div>
            </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>







</body>
</html>